@media screen and (max-width: 576px) {
    .navLinks, nav-links, .btn-prymary, .nav-item, h3 {
        display: none;
    }
    .navbar img {
        margin: 12px;
    }
    .navbar{
        border-bottom: 1px solid rgb(254, 163, 1);
    }
    .menuicon{
        display: block;
    }
    .logo-container > img {
        margin: 12px;
    }

    .banner{
        flex-direction: column-reverse;
        max-width: 570px;
    }
    .banner-title{
        width: 500px;
        text-align: center;
        font-size: 2.8rem;
        font-weight: bold;
    }
    .banner-description{
        text-align: center;
        font-size: 0.5 rem;
        font-weight: 500;
    }
    .btn-secondery{
        text-align: center;
    }
    .curriculum-container{
        flex-direction: column;
    }
    .slider-icon{
        display: none;
    }
    .middle{
        justify-content: center;
        align-items: center;
    }
    header{
        border-bottom: none;
        margin-bottom: 40px;
    }
    .title{
        margin-bottom: 0px;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }
    .card1, .card2, .card3{
        margin: 0px 30px;
        height: auto;
    }
    footer{
        height: 642px;
    }
    .footer{
        flex-direction: column;
        margin-left: 30px;
    }
    .contract-title{
        display: block;
    }
    .about > h3{
        display: block;
    }
    .foooter-description, .about > ul{
        margin-bottom: 32px;
    }
}