@media screen and (max-width: 576px) {
    .navLinks, nav-links, .btn-prymary, .nav-item, h3 {
        display: none;
    }
    .navbar img {
        margin: 12px;
    }
    .header{
        border: 1px solid rgb(254, 163, 1);
    }
    .menuicon{
        display: block;
    }
    .logo-container > img {
        margin: 12px;
    }

    .banner{
        flex-direction: column-reverse;
        max-width: 570px;
    }
    .banner-title{
        width: 500px;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
    }
    .banner-description{
        text-align: center;
        font-size: 0.5 rem;
        font-weight: 500;
    }
}